/* Poppins */

@mixin poppins {
    font-family: 'poppins', arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin poppinslight {
    font-family: 'poppins', arial, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin poppinssemi {
    font-family: 'poppins', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
}

@mixin poppinsbold {
    font-family: 'poppins', arial, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin poppinsitalic {
    font-family: 'poppins', arial, sans-serif;
    font-style: italic;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// Industry Bold

@font-face {
    font-family: 'industry-bold';
    src: url('./inc/webfonts/industry_bold_macroman/Industry-Bold-webfont.eot');
    src: url('./inc/webfonts/industry_bold_macroman/Industry-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('./inc/webfonts/industry_bold_macroman/Industry-Bold-webfont.woff2') format('woff2'),
        url('./inc/webfonts/industry_bold_macroman/Industry-Bold-webfont.woff') format('woff'),
        url('./inc/webfonts/industry_bold_macroman/Industry-Bold-webfont.ttf') format('truetype'),
        url('./inc/webfonts/industry_bold_macroman/Industry-Bold-webfont.svg#webfont') format('svg');
}

// Industry Book

@font-face {
    font-family: 'industry-book';
    src: url('./inc/webfonts/industry_book_macroman/Industry-Book-webfont.eot');
    src: url('./inc/webfonts/industry_book_macroman/Industry-Book-webfont.eot?#iefix') format('embedded-opentype'),
        url('./inc/webfonts/industry_book_macroman/Industry-Book-webfont.woff2') format('woff2'),
        url('./inc/webfonts/industry_book_macroman/Industry-Book-webfont.woff') format('woff'),
        url('./inc/webfonts/industry_book_macroman/Industry-Book-webfont.ttf') format('truetype'),
        url('./inc/webfonts/industry_book_macroman/Industry-Book-webfont.svg#webfont') format('svg');
}

// Industry Demi

@font-face {
    font-family: 'industry-demi';
    src: url('./inc/webfonts/industry_demi_macroman/Industry-Demi-webfont.eot');
    src: url('./inc/webfonts/industry_demi_macroman/Industry-Demi-webfont.eot?#iefix') format('embedded-opentype'),
        url('./inc/webfonts/industry_demi_macroman/Industry-Demi-webfont.woff2') format('woff2'),
        url('./inc/webfonts/industry_demi_macroman/Industry-Demi-webfont.woff') format('woff'),
        url('./inc/webfonts/industry_demi_macroman/Industry-Demi-webfont.ttf') format('truetype'),
        url('./inc/webfonts/industry_demi_macroman/Industry-Demi-webfont.svg#webfont') format('svg');
}

// Industry Light

@font-face {
    font-family: 'industry-light';
    src: url('./inc/webfonts/industry_light_macroman/Industry-Light-webfont.eot');
    src: url('./inc/webfonts/industry_light_macroman/Industry-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('./inc/webfonts/industry_light_macroman/Industry-Light-webfont.woff2') format('woff2'),
        url('./inc/webfonts/industry_light_macroman/Industry-Light-webfont.woff') format('woff'),
        url('./inc/webfonts/industry_light_macroman/Industry-Light-webfont.ttf') format('truetype'),
        url('./inc/webfonts/industry_light_macroman/Industry-Light-webfont.svg#webfont') format('svg');
}