// ===== Brand Colors =====

$csu: rgb(30, 77, 43);
$gold: rgb(200, 195, 114);
$aggie: rgb(217, 120, 45);
$white: #fefefe;
$text: rgba(black, 0.8);
$offwhite: #f3f3f3;
$gray: rgb(89, 89, 81);
$alfalfa: rgb(201, 216, 69);
$slate: rgb(16,84,86);
$canyon: rgb(204, 84, 48);
$sunshine: rgb(236, 197, 48);
$reservoir: rgb(18, 164, 182);

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $canyon;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $text;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $text;
$color__link-visited: $text;
$color__link-hover: $csu;
$color__text-main: rgba(black, 0.8);

$color__border-button: #fff;
$color__border-button-hover: #fff;
$color__border-button-focus: #fff;
$color__border-input: #ccc;
$color__border-abbr: #666;
