$size__site-main: 100%;
$size__site-sidebar: 25%;

// Media Queries
$xs: "only screen and (max-width: 600px)";
$small: "only screen and (max-width: 800px)";
$smedium: "only screen and (max-width: 1050px)";
$medium: "only screen and (max-width: 1200px)";
$large: "only screen and (min-width: 1201px)";