// Custom mmenu styles
.mm-menu {
	background: $csu!important;
	color: white!important;

	.mm-title {
		color: $offwhite!important;
		text-transform: uppercase;
		font-family: industry-demi;
	}//.mm-title

	.mm-arrow, .mm-next {

		 &:after {
		 	border-color: white!important;
		 }
	}//.mm-arrow, .mm-next

	.mm-prev {

		 &:before {
		 	border-color: white!important;
		 }
	}//.mm-arrow, .mm-next

	.mm-listview {
		@include proxsemi;

		li {
			border-color: darken($csu, 5%);
		}
	}//.mm-listview

	.mm-navbar {
		border-color: darken($csu, 5%)!important;
	}

	.mm-navbar-bottom { // Menu Footer
		border: none;
		font-size: 1.25em;
		display: flex;
		justify-content: center;

		p {
			padding: 0;
			color: $offwhite;
			display: flex;
			align-items: center;
			font-family: industry-book;
			font-size: 0.9em;
			margin-top: 0;
			margin-bottom: 0.25em;

			svg {
				font-size: 1.3em;
				margin-right: 0.5rem;
			}
		}
	}//.mm-navbar

	a, span {
		color: white!important;
	}

} //.mm-menu