//********** Color **********
.has-csu-green-color {
	color: $csu!important;
}

.has-csu-green-darker-color {
	color: darken($csu, 5%)!important;
}

.has-csu-gold-color {
	color: $gold!important;
}

.has-white-color {
	color: white!important;
}

.has-aggie-orange-color {
	color: $aggie!important;
}

.has-dark-gray-color {
	color: $gray!important;
}

.has-slate-color {
	color: $slate!important;
}

.has-alfalfa-color {
	color: $alfalfa!important;
}

.has-canyon-color {
	color: $canyon!important;
}

.has-reservoir-color {
	color: $reservoir!important;
}

.has-sunshine-color {
	color: $sunshine!important;
}

.has-black-color {
	color: black!important;
}

//********** Background Color **********
.has-csu-green-background-color, .wp-block-cover.has-csu-green-background-color {
	background-color: $csu!important;
}

.has-csu-green-darker-background-color, .wp-block-cover.has-csu-green-darker-background-color {
	background-color: darken($csu, 5%)!important;
}

.has-csu-gold-background-color, .wp-block-cover.has-csu-gold-background-color {
	background-color: $gold!important;
}

.has-white-background-color, .wp-block-cover.has-white-background-color {
	background-color: white!important;
}

.has-aggie-orange-background-color, .wp-block-cover.has-aggie-orange-background-color {
	background-color: $aggie!important;
}

.has-dark-gray-background-color, .wp-block-cover.has-dark-gray-background-color {
	background-color: $gray!important;
}

.has-slate-background-color, .wp-block-cover.has-slate-background-color {
	background-color: $slate!important;
}

.has-alfalfa-background-color, .wp-block-cover.has-alfalfa-background-color {
	background-color: $alfalfa!important;
}

.has-canyon-background-color, .wp-block-cover.has-canyon-background-color {
	background-color: $canyon!important;
}

.has-reservoir-background-color, .wp-block-cover.has-reservoir-background-color {
	background-color: $reservoir!important;
}

.has-sunshine-background-color, .wp-block-cover.has-sunshine-background-color {
	background-color: $sunshine!important;
}

.has-black-background-color, .wp-block-cover.has-black-background-color {
	background-color: black!important;
}