.section-title {
	color: $csu;
	margin-top: 0;
	font-family: 'industry-light';
}

.wp-block-posts {
	min-height: 55dvh;
}

.wp-block-posts, .secondary-posts {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

.wp-block-posts {

	@media #{$smedium} {
		grid-template-columns: repeat(1, 1fr);
	}
}

.secondary-posts {

	@media #{$xs} {
		grid-template-columns: repeat(1, 1fr);
	}
}

// Cards
.featured-link {
	display: flex;
	text-decoration: none;

	&.secondary-post {

		h3 {
			font-size: 1em;
		}

		p {
			font-size: 0.85em;
		}

		h3, p {

			@media #{$xs} {
				font-size: revert;
			}
		}
	}

	@media #{$smedium} {
		min-height: 50vh;
		min-height: 50dvh;
	}

	// @media #{$xs} {
	// 	min-height: ;
	// }

	// Hover and focus state
	&:hover, &:focus {

		.featured-card {
			
			// Overlay
			&:after {
				background: rgba(black, 0.7);
				transition: all 0.2s ease-in-out;
			}

			.card-meta {

				// Title
				h3 {
					transform: translateY(0);
					transition: all 0.2s ease-in-out;
					
					// Arrow
					&:after {
						transform: translate(0, 0.1em);
						opacity: 1;
						visibility: visible;
						transition: all 0.2s ease-in-out;
					}
				}

				// Date
				p {
					transform: translateY(0);
					opacity: 0.8;
					visibility: visible;
					transition: all 0.2s ease-in-out;
				}
			}
		}
	}
}

.featured-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;

	// Overlay
	&:after {
		content: '';
		background: rgba(black, 0.5);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		transition: all 0.2s ease-in-out;
	}

	.featured-category {
		position: absolute;
		top: 1rem;
		left: 0;
		margin: 0;
		padding: 0.25rem 0.5rem;
		background: darken($csu, 2.5%);
	}

	.card-meta {
		display: flex;
		flex-direction: column;
		padding: 0.5rem;

		// Title
		h3 {
			margin-top: 0;
			margin-bottom: 0.25rem;
			line-height: 1.2;
			transform: translateY(1.5rem);
			transition: all 0.2s ease-in-out;

			// Arrow
			&:after {
				content: '\00BB';
				display: inline-flex;
				font-size: 1.2em;
				margin-left: 0.5rem;
				transform: translate(1em, 0.1em);
				opacity: 0;
				visibility: hidden;
				transition: all 0.2s ease-in-out;
			}

			@media #{$small} {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;

				&:after {
					visibility: visible;
					opacity: 1;
					transform: translate(0, 0.1em);
				}
			}
		}

		// Date
		p {
			margin: 0;
			opacity: 0;
			transform: translateY(1rem);
			visibility: hidden;
			transition: all 0.2s ease-in-out;

			@media #{$small} {
				transform: translateY(0);
				opacity: 0.8;
				visibility: visible;
			}
		}

		@media #{$smedium} {
			padding: 1rem;
		}
	}

	* {
		color: white;
		z-index: 2;
	}
}

.featured-post {

	.featured-card {

		.card-meta {
			padding: 1rem;
		}
	}
}

.more-stories {
	@include inner;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}