.section-title {
	color: $csu;
	margin-top: 0;
	font-family: 'industry-light';
}

.wp-block-posts {
	min-height: 55dvh;
}

.wp-block-posts, .secondary-posts {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}

// Cards
.featured-link {
	display: flex;
	text-decoration: none;

	&.secondary-post {

		h3 {
			font-size: 1em;
		}

		p {
			font-size: 0.85em;
		}
	}
}

.featured-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;

	&:after {
		content: '';
		background: rgba(black, 0.5);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	.featured-category {
		position: absolute;
		top: 0.5rem;
		left: 0;
		margin: 0;
		padding: 0.25rem 0.5rem;
	}

	.card-meta {
		display: flex;
		flex-direction: column;
		padding: 1rem;

		h3 {
			margin-top: 0;
			margin-bottom: 0.5rem;
			line-height: 1.2;
		}

		p {
			margin: 0;
		}
	}

	* {
		color: white;
		z-index: 2;
	}
}

.more-stories {
	@include inner;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}