//********** Default **********
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 3rem;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


//********** General page styles **********

//***** Header *****
.page-header {
	// @include inner;
}

.page-header, .entry-header {
	// margin-bottom: 3em;
	min-height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;

	&:after {
		content: '';
		background: linear-gradient(0deg, rgba($slate,0.852000175070028) 30%, rgba($slate,0.5018601190476191) 60%, rgba($slate,0.1545211834733894) 100%);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
	}

	.entry-header-wrapper {
		z-index: 1;
	}

	.title-subtitle {

	}

	.title-container {
		// background: rgba($csu, 0.9);
		padding: 2em 0;
		z-index: 1;
	}

	.title-inner {
		@include inner;
	}

	.small-title {
		position: relative;
		display: inline-block;
		@include proxsemi;
		margin-bottom: 0;
		margin-top: 0.5rem;
		color: white;
		font-size: 1.3em;

		@media #{$small} {
			font-size: 1.1em;
		}

		&:before {
			content: '';
			position: absolute;
			top: -0.5rem;
			left: 0;
			width: 8rem;
			height: 0.25rem;
			background: $canyon;
		}
	}

	.large-title {
		color: white;
		font-family: 'industry-demi';
		font-size: 3em;
		margin: 0;
		line-height: 1.2;
		max-width: calc(200% / 3);

		@media #{$medium} {
			max-width: 100%;
			font-size: 2.5em;
		}

		@media #{$small} {
			font-size: 2em;
		}
	}

	.subtitle {
		@include proxsemi;
		font-size: 1.4rem;
		margin-bottom: 0;
		margin-top: 0.5rem;
	}

	&.no-header-image {
		min-height: 0;
		background-size: default;

		&:after {
			background: none;
			display: none;
		}

		.title-container {
			background: white;
		}

		.large-title {
			color: $csu;
		}

		.title-container {
			padding: 1.5em 0;
		}
	}
}


//***** Body *****
.entry-content {
	@include inner;
	margin-top: 0;

	.elementor a {
		text-decoration: underline;
	}

	.elementor-widget-icon-box a {
		text-decoration: none;
	}
}

.no-top-p-margin {

	p {

		&:first-of-type {
			margin-top: 0;
		}
	}
}

.no-bottom-p-margin {

	p {

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

// Posts
.single-post {

	.entry-header {

		&.no-post-image {
			@include inner(900px);
		}

		&.post-image {

			.entry-meta, .entry-meta a {
				color: white;
			}
		}

		.title-subtitle {
			margin-bottom: 1rem;
		}

		.entry-title {
			margin-bottom: 0;
		}
	}

	.post-header {
		text-align: left;
		margin-bottom: 3rem;

		&.post-image {
			color: white;

			.entry-title {
				color: white;
				margin-top: 0;
				margin-bottom: 0;
				text-shadow: 1px 1px rgba(black, 0.4);
			}

			.entry-meta, .entry-meta a {
				color: white;
			}

			.post-categories {

				li {

					a {
						color: white;
						border-color: white;

						&:hover, &:focus {
							background: white;
							color: $csu;
						}
					}
				}
			}
		}

		&.no-post-image {
			
			.entry-header-wrapper {
				background: $csu;
			}
		}

		.entry-header-container {
			@include inner(900px);
		}

		.entry-title {
			display: flex;
			justify-content: flex-start;
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 1.5rem;
			font-size: 3rem;

			&:after {
				left: auto;
			}

			@media #{$medium} {
				font-size: 2.5rem;
			}

			@media #{$small} {
				font-size: 2rem;
			}
		}
	}

	.entry-meta {
		padding-bottom: 1.5rem;
		display: flex;
		align-items: center;

		@media #{$small} {
			display: block;
		}

		.post-date {
			margin: 0;
		}
	}

	.post-image-wrapper {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background: $csu;
			height: 50%;
			width: 100%;
			z-index: -1;
		}
	}

	.post-image-container {
		@include inner(900px);
		padding-top: 1.5rem;
	}

	.post-categories {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 1rem 3rem 1rem 0;
		padding: 0;

		li {
			&:not(:last-of-type) {
				margin-right: 1rem;
			}

			a {
				border-bottom: 2px solid $csu;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding: 0.25rem;
				text-decoration: none;
				transition: all 0.1s;

				&:hover, &:focus {
					background: $csu;
					color: white;
					transition: all 0.1s;
				}
			}
		}
	}

	.post-tags {
		margin-top: 3rem;
	}

	.entry-content, .entry-footer {
		@include inner(900px);
	}
}


//***** Fellowship Recipients Single *****
.fellowship_recipient, .staff {
	@include inner;
	@include section-margin;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 3em;

	@media #{$xs} {
		grid-template-columns: 1fr;
	}

	.fellowship-recipient-info {
		text-align: center;

		.student-image {
			border-radius: 50%;
			max-width: 300px;
			width: 100%;
			aspect-ratio: 1 / 1;
			margin-bottom: 1.5em;
			background-position: center;
			background-size: cover;
			margin-left: auto;
			margin-right: auto;
		}

		h1 {
			margin: 0;
			position: relative;
			padding-bottom: 1rem;
			display: flex;
			justify-content: center;

			&:after {
				content: '';
				width: 5rem;
				height: 0.33rem;
				background: $canyon;
				position: absolute;
				bottom: 0.25em;
			}
		}

		p {
			margin: 0;
			font-size: 1.2rem;
			@include proxbold;
		}
	}
}

//***** Fellowship Recipients Archive *****
.fellowship-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 3em;

	@media #{$medium} {
		grid-template-columns: repeat(2, 1fr);
	}

	@media #{$xs} {
		grid-template-columns: repeat(1, 1fr);
	}
}


//***** Footer *****
.entry-footer {
	@include inner;
}


//********** Page widths **********
.inner-margin {

}

.inner-padding {

}

.inner {
	@include inner;
}


//********** Archives **********
.archive {

	h1 {
		margin-top: 0;
	}	
}

.posts-wrapper {
	@include inner;
	@include section-margin;

	.posts-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.5rem;

		@media #{$medium} {
			grid-template-columns: repeat(2, 1fr);
		}

		@media #{$small} {
			grid-template-columns: repeat(1, 1fr);
		}

		.featured-link {
			min-height: 40dvh;
		}
	}
}


//********** Block fixes **********
.player .vp-video-wrapper .vp-preview {
	background-size: cover!important;
}

.hidden {
	display: none!important;
	visibility: hidden!important;
}