.error-404, .not-found {
	// text-align: center;
	min-height: 70vh;
	position: relative;
	display: flex;
	background-size: cover;

	@media #{$small} {
		flex-direction: column;
	}

	&:before {
		content: '';
		background: $offwhite;
		clip-path: polygon(0 0%, 100% 0%, 80% 100%, 0 100%);
		position: absolute;
		left: 0;
		width: 55%;
		height: 100%;
		z-index: 0;
	}

	.error-left, .error-right {
		width: 50%;
		padding: 0 3rem;

		@media #{$medium} {
			padding: 0 1.5rem;
		}

		@media #{$small} {
			width: 100%;
		}
	}

	.error-left {
		z-index: 0;
	}

	.error-right {
		z-index: -2;
		opacity: 0.2;
	}

	.page-header {
		min-height: 15vh;
	}

	h1 {
		border: none;
		margin-bottom: 0;
	}

	.page-content {
		margin-bottom: 3em;
		max-width: 70%;

		@media #{$medium} {
			max-width: 100%;
		}

		p {
			font-size: 1.1rem;
			color: lighten($text, 15%);
		}
	}

	.search-form {
		// justify-content: center;
		margin-top: 3rem;

		label {
			width: calc(200% / 3);

			@media #{$medium} {
				width: 50%;
			}

			@media #{$small} {
				max-width: 450px;
				width: 100%;
			}
		}

		.search-field {

			@media #{$small} {
				font-size: 1.3rem;
			}
		}

		.search-submit {

			.material-icons {
				display: flex;
				transform: scale(1.2);
				transition: all 0.2s;
			}

			&:hover, &:focus {
				transform: none;
				box-shadow: none;

				.material-icons {
					transform: scale(1.5);
					transition: all 0.2s;
				}
			}
		}
	}

	.error-buttons {
		margin-top: 3rem;

		button, .button {
			display: inline-flex;
			margin-bottom: 1rem;

			@media #{$small} {
				align-items: center;
			}

			span {
			    transform: translateY(-2px);
			}
		}
	}
}