.site-footer {
	background: $csu;
	color: white;
	// margin-top: 3rem;
}

.top-footer-container {
	background: lighten($csu, 5%);
	box-shadow: 0 0.5rem 0.5rem -0.25rem rgba(0, 0, 0, 0.15), 0 0.25rem 0.5rem -0.25rem rgba(0, 0, 0, 0.5), 0 -0.25rem 1rem -0.25rem rgba(0, 0, 0, 0.3);

	@media #{$small} {
		display: flex;
		align-items: center;
		text-align: center;
	}
}

.top-footer, .bottom-footer {
	@include inner;
}

.top-footer {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	grid-gap: 6rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	@media #{$medium} {
		grid-template-columns: 1fr 2fr 1fr;
	}

	@media #{$small} {
		display: flex;
		flex-direction: column;
		grid-gap: 0;
	}

	a {
		color: white;
		text-decoration: none;
		text-underline-offset: 0;
		transition: none;

		&:hover, &:focus {
			text-decoration: underline;
			text-decoration-color: white;
			text-decoration-thickness: 2px;
			text-underline-offset: 0;
			transition: none;
		}
	}

	h2 {
		position: relative;
		color: white;
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 0.75rem;
		padding-bottom: 0.75rem;
		font-size: 1.1em;
		text-transform: uppercase;
		letter-spacing: 2px;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: $alfalfa;
		}

		@media #{$small} {
			display: inline-block;
		}
	}

	.footer-left {

		.menu {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				&:not(:last-of-type){
					margin-bottom: 0.25rem;
				}
			}
		}
	}

	.footer-middle {

		address {
			margin: 0;
			// font-style: normal;
		}
	}

	.footer-right {
		display: flex;
		flex-direction: column;

		.gift-link {
			background: $csu;
			border: 2px solid white;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			font-family: 'industry-book';
			padding: 0.25em 0.5em;
			font-size: 1.1em;
			text-align: center;

			&:hover, &:focus {
				background: white;
				color: $csu;
				text-decoration: none;
				transition: all 0.2s;
			}
		}

		ul {
			list-style: none;
			margin: 1em 0 0;
			padding: 0;
			display: flex;
			justify-content: space-between;

			li {

				a {

					img {
						max-width: 2em;
						width: 100%;
						opacity: 0.7;
						transition: all 0.2s;
					}

					&:hover {

						img {
							opacity: 1;
							transition: all 0.2s;
						}
					}
				}
			}
		}
	}

	.footer-middle, .footer-right {

		@media #{$small} {
			margin-top: 1.5rem;
		}
	}
}

.bottom-footer {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media #{$small} {
		flex-direction: column;
	}

	.csu-links {
		flex-shrink: 0;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 0.9rem;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 0.5rem;

			li {
				margin-right: 1rem;

				a {
					color: white;
					text-decoration: none;

					&:hover {
						border-bottom: 2px solid rgba(white, 0.5);
					}
				}
			}
		}
	}

	.csu-footer-logo {
		width: 350px;
		flex-shrink: 1;

		@media #{$small} {
			padding-top: 1rem;
		}
	}
}